<div ng-controller="mainCtrl">
   
  <button ng-click="addTab()">Add</button>
     <tabset>
        <tab class="tabbedclass" ng-repeat="t in tabs" name="$index" id="{{$index}}">
            <tab-heading>{{t.title}}</tab-heading>
            <div ng-bind-html-unsafe='t.content'>
                
            </div>
        </tab>
    </tabset>
      <div id="contextMenu" class="dropdown clearfix">
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
              <li><a tabindex="-1" href="#">Action</a></li>
              <li><a tabindex="-1" href="#">Another action</a></li>
              <li><a tabindex="-1" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#" ng-click="tabs.length == 1 || removeTab(tabToRemove)" ng-class="{'disabled' : tabs.length == 1}">Delete Tab</a></li>
          </ul>
      </div>
</div>